{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/page.css' %}" type="text/css" rel="stylesheet">
    <title>qrcode</title>
</head>
<body style="overflow: hidden">
<div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="combine_0" class="ax_default" data-left="0" data-top="0" data-width="1080" data-height="810"
         layer-opacity="1">

        <!-- Unnamed (组合) -->
        <div id="combine_0" class="ax_default" data-left="0" data-top="0" data-width="1080" data-height="810"
             layer-opacity="1">

            <!-- 底栏 (矩形) -->
            <div id="rectangle_0" style="left: 0px;top: 722px;width: 1080px;height: 88px" class="ax_default">
                <div id="rectangle_0_div" style="background-color:rgba(0, 26, 37, 1);display: none" class=""></div>
            </div>

            <!-- 大框 (矩形) -->
            <div id="rectangle_0" class="ax_default">
                <div id="rectangle_0_div" class="">
                </div>
                <div id="rectangle_0_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="rectangle_0" style="top: 722px;width: 1080px;height: 88px;left: 0px;display: flex"
             class="ax_default box_3">
            <div id="rectangle_01_div" class=""></div>
        </div>
    </div>

    <!-- Refresh button (形状) -->
    <div id="shape_0" class="ax_default icon">
        <img id="shape_0_img" style="width: 40px;height: 40px" class="img " src="{% static '/images/qrcode/u7.svg' %}"
             alt="refresh" onclick="refreshPage()"/>
        <script>function refreshPage() {
            location.reload();
        }</script>
    </div>
</div>

<!-- QR Code (图片) -->
<div id="qrcode" class="ax_default _图片">
    <img id="qrcode_img" class="img " src="{% static 'images/qrcode/test1.png' %}" alt="QRCode"/>
</div>

<!-- Notice info (矩形) -->
<div id="notice" class="ax_default text">
    <p style="left: 200px;top: 200px"><span>请使用手机端扫描二维码</span></p>
    <p><span style="left: 200px;top: 200px">如显示无效请刷新</span></p>
</div>

<!-- Logo (图片) -->
<div id="image_0" class="ax_default _图片">
    <img id="image_0_img" class="img " src="{% static '/images/index/u1.png' %}"/>
</div>

<!-- Offline location (矩形) -->
<div id="u11" class="ax_default link_button">
    <div id="u11_div" class=""></div>
    <div id="u11_text" class="text ">
        <p><span>离线定位</span></p>
    </div>
</div>

<!-- Setting (形状) -->
<div id="shape_1" class="ax_default icon">
    <img id="shape_1_img" class="img " src="{% static '/images/qrcode/u12.svg' %}"/>
</div>

<!-- Unnamed (热区) -->
<div id="transparent_0" class="ax_default" onclick="toggle()">
</div>
<script>
    function toggle() {
        var div = document.getElementById("combine_1");
        console.log(div)
        if (div.style.display == "none") {
            div.style.display = "block";
            div.style.visibility = "visible";
        } else {
            div.style.display = "none";
            div.style.visibility = "hidden";
        }
    }
</script>

<!-- Unnamed (组合) -->
<div id="combine_0" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0" layer-opacity="1">

    <!-- Unnamed (组合) -->
    <div id="combine_0" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0"
         layer-opacity="1">

        <!-- 设置栏 (组合) -->
        <div id="combine_1" class="ax_default ax_default_hidden"
             data-left="312"
             data-top="91" data-width="456" data-height="561" layer-opacity="1">

            <!-- Unnamed (矩形) -->
            <div id="rectangle_2" class="ax_default box_1 selected">
                <div id="rectangle_2_div" class="selected"></div>
                <div id="rectangle_2_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="shape_2" class="ax_default icon selected">
                <img id="shape_2_img" class="img " src="{% static '/images/qrcode/u16.svg' %}"/>
                <div id="shape_2_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="shape_2" style="height: 43px;width: 50px;top: 139px;left: 374px"
                 class="ax_default icon selected">
                <img id="shape_2_img" style="width: 50px;height: 43px" class="img "
                     src="{% static '/images/qrcode/u17.svg' %}"/>
            </div>

            <!-- Unnamed (形状) -->
            <div id="shape_2" style="height: 41px;width: 50px;top: 324px;left: 374px"
                 class="ax_default icon selected">
                <img id="shape_2_img" style="width: 50px;height: 41px" class="img "
                     src="{% static '/images/qrcode/u18.svg' %}"/>
            </div>

            <!-- Unnamed (形状) -->
            <div id="shape_2" style="left: 374px;top: 417px;width: 50px;height: 50px"
                 class="ax_default icon selected">
                <img id="shape_2_img" style="width: 50px" class="img " src="{% static '/images/qrcode/u19.svg' %}"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>移动网络</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" style="left: 347px;top: 283px" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>蓝牙</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" style="left: 352px;top: 372px" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>车辆识别码</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" style="top: 477px" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>色彩模式</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" style="left: 554px;top: 156px" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>网络已连接</span></p>
                </div>
            </div>


            <!-- Unnamed (下拉框) -->
            <div id="droplet_0" class="ax_default droplist selected">
                <img id="droplet_0_img" class="img " src="{% static '/images/qrcode/u26.svg' %}"/>
                <select id="droplet_0_input" class="droplet_input">
                    <option class="droplet_input_option" selected value="未选择">登录后可见</option>
                    <option class="droplet_input_option" value="蓝牙1">蓝牙1</option>
                    <option class="droplet_input_option" value="蓝牙2">蓝牙2</option>
                </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="rectangle_3" style="left: 554px;top: 345px" class="ax_default _段落 selected">
                <div id="rectangle_3_div" class="selected"></div>
                <div id="rectangle_3_text" class="text ">
                    <p><span>登录后可见</span></p>
                </div>
            </div>

            <!-- Unnamed (下拉框)
            <div id="droplet_0" style="left: 516px;top: 432px" class="ax_default droplist selected">
                <img id="droplet_0_img" class="img " src="../images/qrcode/u26.svg"/>
                <select id="droplet_0_input" class="droplet_input">
                    <option class="droplet_input_option" selected value="明亮模式">明亮模式</option>
                    <option class="droplet_input_option" value="黑夜模式">黑夜模式</option>
                </select>
            </div> -->


        </div>
    </div>
</div>
</body>
</html>